body {

    background-color: peachpuff

    
}

h1 { color:blue;}

.panna { 

    color: sienna;
        }
h3 {
    color: blue;
    }

ul {

    color: seagreen;
    }

ol {
    color: black
}

.panna {

    color: sienna
}